body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
table {
    position:absolute;
    /*width:99%;*/
    left:2%;
    height: 97%;
    border-spacing: 10px;
    background-color: #ced7d8;
}
th{
    border-radius:3px;
    color: #ececec ;
    background-color: #316879
}
td{
    border-radius:3px;
    text-align: center;
    background-color: #7fe7dc;
    border: 1px solid #5da8a1;
}
.customTableCell {
  min-width:18vw;
  max-width:19vw;
}
/*.cell{
  position:relative;
  width:100%;
  height:100%;
  border: 1px solid #5da8a1;
  background-color: #7fe7dc
}
.cell:hover{
  color: #ececec;
  background-color: #5da8a1;
  cursor: pointer;
}*/
  td:hover {
    color: #ececec;
    background-color: #5da8a1;
    cursor: pointer;
}
/*
Teal, coral, turquiose and grey
#316879, #f47a60, #7fe7dc, #ced7d8
*/
/*    MODAL INFORMATION      */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 990;
  }
  
  .modal .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(0,0,0,0.85);
  }
  
  .modal .modal_content {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90%;
    overflow: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.7);
    border-radius: 4px;
    width: 520px; /* This just a default width */
  }
  
  .modal .modal_content > h2 {
    font-size: 28px;
    font-weight: 200;
    margin: 20px 0 40px;
    text-align: center;
  }
  
  .modal .modal_content .buttons_wrapper {
    padding: 20px;
  }
  
  .modal .close_modal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
    background: none;
    border: none;
    transition: opacity 0.2s ease;
  }
  
  .modal .close_modal:hover {
    opacity: 0.9;
  }

  /* EDIT INFORMATION*/
  .edit {
    position: relative;
    left: 33%;
    margin-left: 2%;
    margin-top: 2%;
    width:200px;
    height: 50px;

  }
  #edit-btn {

  }
  #save-btn {

  }